<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swift-ezJson.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E4615D31E1D7849007B807D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E4615E71E1D7849007B807D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E4615F21E1D7849007B807D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
